#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ---------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  |  ß   |
// |  TAB  |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |  Ü   |
// |  CTRL |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  Ö  |  Ä   |
// |  SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  -  | ENT  |
// |  LALT | GUI | RSE | LWR | BKC | SPC |     | --- | --- | --- | --- | --- | ---  |
                        bindings = <
   &kp ESC   &kp N1   &kp N2  &kp N3  &kp N4   &kp N5              &kp N6   &kp N7   &kp N8    &kp N9   &kp N0    &kp MINUS
   &kp TAB   &kp Q    &kp W   &kp E   &kp R    &kp T               &kp Y    &kp U    &kp I     &kp O    &kp P     &kp LBKT
   &kp LCTRL &kp A    &kp S   &kp D   &kp F    &kp G               &kp H    &kp J    &kp K     &kp L    &kp SEMI  &kp SQT
   &kp LSHFT &kp Z    &kp X   &kp C   &kp V    &kp B               &kp N    &kp M    &kp COMMA &kp DOT  &kp SLASH &kp RET 
   &kp LALT  &kp LGUI &mo 2   &mo 1   &kp BSPC &kp SPACE           &trans   &trans   &trans    &trans   &trans    &trans
                        >;
                };

                lower_layer {
// ---------------------------------------------------------------------------------
// | TRANS | BT_CLR | BT1 | OUT_TOG |     |     |     | F1  | F2  | F3  | F4  | F5  | F6  |
// | TRANS |        |  7  |  8  |  9  |  +  |     | F7  | F8  | F9  | F10 | F11 | F12 |
// | TRANS |        |  4  |  5  |  6  |  -  |     |     |     |  '  |     |     |     |
// | TRANS |        |  1  |  2  |  3  |  *  |     |     |     |     |     |     |     |
// |       |        |  0  |     |     |  /  |     | --- | --- | --- | --- | --- | --- |
                        bindings = <
   &trans  &bt BT_CLR &bt BT_SEL 0 &out OUT_TOG &trans       &trans              &kp F1   &kp F2   &kp F3        &kp F4  &kp F5  &kp F6
   &trans  &trans     &kp N7       &kp N8       &kp N9       &kp KP_PLUS         &kp F7   &kp F8   &kp F9        &kp F10 &kp F11 &kp F12
   &trans  &trans     &kp N4       &kp N5       &kp N6       &kp KP_MINUS        &trans   &trans   &kp LS(MINUS) &trans  &trans  &trans
   &trans  &trans     &kp N1       &kp N2       &kp N3       &kp KP_MULTIPLY     &trans   &trans   &trans        &trans  &trans  &trans
   &trans  &trans     &kp N0       &trans       &trans    &kp KP_DIVIDE       &trans   &trans   &trans        &trans  &trans  &trans
                        >;
                };

                raise_layer {
// ---------------------------------------------------------------------------------
// | TRANS |  !  |  "  |  §  |  $  |  %  |     |  &  |  /  |  (  |  )  |  =  |  ?  |
// | TRANS |     |     |     |     |     |     |  <  |  >  |  {  |  }  |  \  |  |  |
// | TRANS |     |     | LFT | UP  | RGT |     |  [  |  ]  |  (  |  )  |  Ö  |  Ä  |
// | TRANS |     |     |     | DWN |     |     |  _  |  +  |     |     |     |     |
// |       |     |     |     |     |     |     | --- | --- | --- | --- | --- | --- |
                        bindings = <
   &trans  &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5)         &kp LS(N6)    &kp LS(N7)   &kp LS(N8) &kp LS(N9) &kp LS(N0)    &kp LS(MINUS)
   &trans  &trans     &trans     &trans      &trans      &trans              &kp NUBS      &kp LS(NUBS) &kp RA(N7) &kp RA(N0) &kp RA(MINUS) &kp RA(NUBS)
   &trans  &trans     &trans     &kp LARW    &kp UARW    &kp RARW            &kp RA(N8)    &kp RA(N9)   &kp LS(N8) &kp LS(N9) &kp SEMI      &kp COLON
   &trans  &trans     &trans     &trans      &kp DARW    &trans              &kp LS(SLASH) &kp PLUS     &trans     &trans     &trans        &trans
   &trans  &trans     &trans     &trans      &trans   &trans              &trans        &trans       &trans     &trans     &trans        &trans
                        >;
                };
        };
};
